p {
  font-size: 1.3rem;
  font-style: oblique;
  font-weight: 800;
  color: #ffb703;
}
p:hover{   
  transform: translateY(-25%);
  color: #fd9e02;
}
a:link, a:visited, a:active {
    text-decoration:none;
}